/*This is 404 style*/
* {
    font-family: 'DM Sans', sans-serif;
}

main { 
    padding-top: 20px;
    font-size: 20px;
}

body {
    background-image: url('../../img/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
       /* height: 965px;*/
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    color: #000000;
    }


.btn-info { 
    border-radius: 5px;
    border: none;
    background-color: #FB3F5C;
    padding: 14px 20px;
    width: 180px;
    display: block;
}

.btn-info:hover {
    border: 1px solid #FB3F5C;
    background-color: white;
    color: #FB3F5C;
    transition: ease-in-out 0.7s;

}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (max-width: 100px) {
    p {
      font-size: 3px;
      line-height: 0;
    }
  }
  #main {
    margin: 0;
    padding: 10px;
    border-radius: 1px;
    text-align: center;
    
  }
  @media (max-width: 100px) {
    #main {
      margin: 0;
    }
  }
    img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  @media (max-width: 100px) {
    #background-img {
        max-width: 50%;
        display: block;
        height: auto;
        margin: 0 auto;
    }
  }