.abt-img {
    width: 100%;
    height: 100%;
}

span {
     color: #FB3F5C;
}
.pcolor{
  color: #707070;
}
.breadcrumb-item + .breadcrumb-item::before {
content: ">";
}

.start-btn {
    text-decoration: none;
    background-color: #FB3F5C !important;
    color: #ffffff;
    border: 1px solid #FB3F5C;
}