html{
    height: 100%
}
body{
    height: 100%;
    margin: 0;
    padding:0;
    font-family: 'Dm Sans';
    margin-right: 0px;
    background: #E5E5E5;
} 
.content{
	display: flex;
	align-items: center;
	flex-direction: column;

padding-top: 1rem;

	
}
.contact-banner{
	background-image: linear-gradient(rgba(4, 23, 42, 0.5),rgba(4, 23, 42, 0.5)), url( ../styles/../custom.css/../img/contac-us-banner.png);
	background-position:center;
    background-size: cover;
    height: 143.48px;

    

}
.contact-banner .content h1{
	 font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18.3168px;
line-height: 24px;

height: 23.66px;

color: #FFFFFF;
border-bottom: 5px solid #FB3F5C;
 

}
.contact-banner .content h2{
	width: 198.43px;
height: 45.79px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12.2112px;
line-height: 15px;
/* or 125% */

text-align: center;

color: #FFFFFF;
}
.cont{
	margin-top: 3rem;

}

.contain img{
	
	
width: 20.53px;
height: 20.53px;
	
	margin-top: 0.7rem;
	margin-left: 1rem;
	background-position: center;
	background-size: cover
}
.contained img{
	background: rgba(251, 63, 92, 0.1);
	border-radius: 100px;
width: 20.53px;
height: 20.53px;
	
	margin-top: 0.7rem;
	margin-left: 1rem;
	background-position: center;
	background-size: cover
}

   .contain{
   	
height: 49.61px;
background: #FFFFFF;
box-shadow: 0px 0px 3.0528px rgba(0, 0, 0, 0.25);
border-radius: 3.816px;
margin-bottom: 1rem;

 	
 		display: flex;
 		
 
 }
 .contained{
   	
height: 49.61px;
background: #FFFFFF;
box-shadow: 0px 0px 3.0528px rgba(0, 0, 0, 0.25);
border-radius: 3.816px;
margin-bottom: 1rem;

 	
 		display: flex;
 		
 
 }
 


   }

.contain p{
	width: 86.24px;
height: 26.71px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12.2112px;
line-height: 27px;
/* identical to box height, or 219% */

text-align: center;

color: #04172A;

}
.contain a{
	display: flex;

}
.contained .break{
	font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12.2112px;
line-height: 27px;
/* identical to box height, or 219% */

text-align: center;

color: #999898;
width: 114.48px;
height: 26.71px;
text-decoration: none;

}
.contained .broke{
width: 179.35px;
height: 26.71px;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12.2112px;
line-height: 27px;
/* identical to box height, or 219% */

text-align: center;

color: #999898;
text-decoration: none;
}
.block{
	display: inline-flex;
	flex-direction:column;
	text-align: center;
	width: 86.24px;
height: 26.71px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12.2112px;
line-height: 27px;
/* identical to box height, or 219% */

text-align: center;

color: #04172A;
}
.body{
	height: 731.91px;
	background: #FFFFFF;
box-shadow: 0px 0px 3.0528px rgba(0, 0, 0, 0.25);
border-radius: 3.816px;
margin-right: 0px;

}
.container h3{
	width: 93.11px;
height: 26.71px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12.2112px;
line-height: 27px;
/* identical to box height, or 219% */

text-align: center;

color: #04172A;

}
.container .oat{
	width: 193.09px;
height: 42.74px;




font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12.2112px;
line-height: 21px;
/* or 175% */

text-align: center;

color: #999898;
}

.container p{
	

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12.2112px;
line-height: 16px;
padding-bottom: 10px;

color: rgba(4, 23, 42, 0.7);

}
form input{
	margin-bottom: 1rem;
}


input[type=name],
input[type=email],
input[type=text]{
	border: 0.763199px solid rgba(4, 23, 42, 0.7);
box-sizing: border-box;
border-radius: 3.816px;
height:36.63px;
width:306px;
padding-left: 10px;
margin-top: 10px;


}
textarea{
	height: 170.96px;
	border: 0.763199px solid rgba(4, 23, 42, 0.7);
box-sizing: border-box;
border-radius: 3.816px;
margin-top: 10px;
width:306px;
color: rgba(4, 23, 42, 0.3);
padding-left: 10px;
}
input[type=submit]{
margin-left: 12.5rem;
width: 114.48px;
height: 39.69px;
background: #FB3F5C;
box-shadow: 0px 3.0528px 11.448px rgba(251, 63, 92, 0.2);
border-radius: 3.816px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12.2112px;
line-height: 16px;
text-align: center;
margin-top: 2rem;

color: #FFFFFF;

}
 

@media (min-width: 600px) {
	
	input[type=name],
input[type=email],
input[type=text]{
	width:406px;
}
textarea{
	width:406px;}
input[type=submit]{
margin-left: 18.5rem;

}
}

@media (max-width: 600px) {

	.contained{
display: flex;
margin-left: 0px;


	}
	.block {
	position:relative;
	right: 140px;
	}
}
	

